.row-header {
    margin: 0px auto;
    padding: 0px;
}

.row-content {
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    border-bottom-color:#ff9900; 
    min-height: 400px;
    background: black;
    color: floralwhite;
}

.first {
    margin: 0px auto; 
    padding: 0px 0px 0px 0px;
    border-bottom: 1px ridge;
    border-bottom-color:#ff9900; 
    min-height: 40px;
    background: black;
    color: floralwhite;
}

.footer {
    margin: 0px auto;
    background-color:   #ffcc80;
    color:  #1a000d;
    padding: 20px 0px 20px 0px;
}

.jumbotron {
    padding: 70px 0px 70px 0px;
    margin: 0px auto;
    background:  #ff9900;
    color: #1a000d;
}

address {
    font-size: 80%;
    margin: 0px;
    color: #00001a;
}

body{
    padding: 50px 0px 0px 0px;
    z-index: 0px;
}

.navbar-inverse {
    background-color: #CC0000;
}

.breadcrumb {
    background-color:#ccff33;
}

#abc {
    color: floralwhite;
}

.table {
    background-color: floralwhite;
    color: black;
}

.thead {
    background-color: orange;
}

.card-header {
    background-color: olivedrab;
}

.card-block {
    color: black;
}

#divblockquote {
    background-color: #e0ebeb;
}

.blockquote {
    background-color: floralwhite;
}

#button1 {
    float: right;
}

.accordion-card {
    background-color: cyan;
}

.accordion-header {
    background-color: navy;
}

.accordion-header-text {
    color: floralwhite;
    
}

.accordion-header-text:hover {
    color: black;
}

.carousel-row-content {
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    border-bottom-color:#ff9900; 
    min-height: 350px;
    background: black;
    color: floralwhite;
}

.carousel {
    background: #ff9900;    
}

.carousel-item {
    height: 250px;
}

.carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 250px;
}

.carousel-item-header {
    color: black;
}

.carousel-item-text {
    color: black;
}

#carousel-button {
    right: 0px;
    position: absolute;
    bottom: 0px;
    
}